main {
  height: 200vh;
}

/* твой код */






@font-face {
  font-family: "NarrowNews"; 
  src: url("./fonts/ClanOT-NarrowNews.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 